.form-horizontal .control-label {
  padding-top: 0px;
  margin-top: -3px;
}
#search {
  background-color: #fbfbfb;
  padding-top: 10px;
  padding-bottom: 10px;
  display: table;
  width: 100%;
}
.upload-box {
  border-radius: 8px;
  border: dashed 3px #cccccc;
  background-color: #fbfbfb;
  color: gray;
  clear: both;
  height: 180px;
  text-align: center;
  vertical-align: middle;
  transition: 1s all;
}
.expanded-upload-box {
  height: 415px;
}
.advanced-search {
  overflow: hidden;
  height: 0px;
  transition: 1s all;
}
.advanced-search-shown {
  height: 234px;
}
.about a {
  color: #999999;
}
.about a:hover{
  color: #cccccc;
}
.jumbotron h1, .jumbotron h2, .jumbotron h4 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.jumbotron {
  margin-bottom: 0px;
  background-color: transparent;
}

/* Completion list styles */
#users-completion-list a {
  display: block;
}

#users-completion-list .profile_picture {
  height: 24px;
  width: auto;
}

#users-completion-list .username {
  margin-left: 8px;
  margin-right: 8px;
}

.placeholder {
  background-image: url(../assets/frame.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 14px 13px;
}
.placeholder p {
  margin-top: 17px;
  margin-bottom: 0px;
  font-size: 15px;
}
.placeholder img {
  max-width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.3);
}

/* vim: set ts=2 sw=2 et: */
